<mat-expansion-panel
  class="dropDowns"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      QR Scan
    </mat-panel-title>
    <mat-panel-description>
      Scan QR Zone Code
    </mat-panel-description>
  </mat-expansion-panel-header>
  <zxing-scanner
    [torch]="torchEnabled"
    [device]="deviceCurrent"
    (deviceChange)="onDeviceChange($event)"
    (scanSuccess)="onCodeResult($event)"
    [formats]="formatsEnabled"
    [tryHarder]="tryHarder"
    (permissionResponse)="onHasPermission($event)"
    (camerasFound)="onCamerasFound($event)"
    (torchCompatible)="onTorchCompatible($event)">
  </zxing-scanner>
</mat-expansion-panel>
