<mat-card>
  <mat-card-title>
    How do you feel?
  </mat-card-title>
  <mat-card-content>
    <mat-card class="card">
        <h3>Cold</h3>
        <p>
          If you are feeling cold. <br>
          This will turn down the ventilation.
        </p>
        <fa-icon [icon]="arrow" class="arrow"></fa-icon>
    </mat-card>



    <mat-card class="card">
      <h3>Good</h3>
      <p>If you are feeling neither too cold or warm.</p>
      <fa-icon [icon]="arrow" class="arrow"></fa-icon>
    </mat-card>


    <mat-card class="card">
      <h3>Warm</h3>
      <p>
        If you are feeling warm. <br>
        This will turn up the ventilation.
      </p>
      <fa-icon [icon]="arrow" class="arrow"></fa-icon>
    </mat-card>
  </mat-card-content>
</mat-card>
