mat-card-content{
    padding-bottom: 50px;
}
mat-card > mat-card-title{
    text-align: center;
    margin: 30px 0;
}

mat-card-content mat-card{
    display: grid;
    grid-template-areas:
            "hl icon"
            "desc icon";
}
mat-card-content mat-card h3{
    grid-area: hl;
    font-weight: bold;
}

mat-card-content mat-card p {
    grid-area: desc;
}

mat-card-content mat-card fa-icon{
    grid-area: icon;
}

@media screen and (min-width: 800px){
    mat-card-content{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;

    }

    mat-card-content mat-card{
        width: 30%;
        margin: 0;
    }
}