<mat-card>
  <mat-card-title>
    How do you feel?
  </mat-card-title>
  <mat-card-content>
    <mat-card class="card">
      <span>
        <p>Cold</p>
        <fa-icon [icon]="arrow" class="arrow"></fa-icon>
      </span>
    </mat-card>
    <mat-card class="card">
      <p>Good</p>
      <fa-icon [icon]="arrow" class="arrow"></fa-icon>
    </mat-card>
    <mat-card class="card">
      <p>Warm</p>
      <fa-icon [icon]="arrow" class="arrow"></fa-icon>
    </mat-card>
  </mat-card-content>
</mat-card>
