/*:host {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin: 100px 0px;*/
/*}*/
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 1rem 0;
}
header h1{
  font-size: 2rem;
  font-weight: bold;
}
.mat-form-field {
    width: 100%;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.mat-alert-danger {
    color: #f44336;
    /* Red */
}

mat-card {
    background-color: rgb(240, 245, 245);
  margin: 15px;
}

.user-button {
    color: white;
    width: 100%;
    background-color: #3f51b5;
    display: flex;
    justify-content: center;
}

.register-button {
    color: white;
    width: 100%;
    background-color: #3f51b5;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
