header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 1rem 0;
}
header h1{
    font-size: 2rem;
    font-weight: bold;
}
.zoneContainer{
padding: 15px;
}


