.header{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 1rem 0;
}
.header h1{
    font-size: 2rem;
    font-weight: bold;
}

.card{
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2rem;
}
.card h2{
    font-size: 2rem;
    text-decoration: none;
}
.card .arrow{
    font-size: 2rem;
}
.zoneContainer{
    display: flex;
    justify-content: center;
}
.zone{
    padding: 10px;
    max-width: 40%;
    display: grid;
    grid-template-areas:
            "hl hl hl"
            ". . ."
            ". . .";
    row-gap: 5px;
    column-gap: 5px;
}
.zone h3{
    grid-area: hl;
}

.zone .taken, .zone .available{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.zone .taken{
    background-color: red;
}

.zone .available{
    background-color: green;
}
.selectZone{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.zone{
  width: 40%;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 25px;
}
