<header>
  <h1>Check In</h1>
  <p>Current Room: {{currentPosition.currentRoom || '---'}} | Current Zone: {{currentPosition.currentZone || '---'}}</p>
</header>
<section class="zoneContainer">
  <app-zone-select [(position)]="currentPosition">
<!--    Component for zone selection -->
  </app-zone-select>

  <app-qr>
<!--    Component for QR scanner -->
  </app-qr>
</section>
<a routerLink="fansetting"><mat-card class="card">
    <p>Fan Settings</p>
    <fa-icon [icon]="arrow" class="arrow"></fa-icon>
</mat-card>
