
.header{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 1rem 0;
}
.container{

    margin: 20px 0;
    padding: 1rem 0;
}
/*.example-card{*/
/*    width: 400px;*/
/*}*/
.user-button{
    margin-left: 110px;
    background-color: #3f51b5;
    color: white;
    height: 40px;
    text-align: center;
}
#title{
    margin: 25px;
}
mat-card-content{
    margin-top: 10px;
}

