/* .container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    flex-direction: column;
   
  } */
  .container-right{
    flex: 20%;
    margin: 10px;
  }
  .container-left{
    flex: 20%;
    margin: 10px;
  }
  .list {
    border: solid 1px #ccc;
    min-height: 60px;
    background:white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .box:last-child {
    border: none;
  }
  
  .list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .drag-drop-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .mat-buttons{
    margin-top: 10px;
    background-color: #673ab7;
    color: white;
    width: 200px;
    
}
h2{
  padding: 8px 0;
  color: #3f51b5 ;
  border-radius: 4px;
  text-align: center;
}
h1{
    text-align: center;
    margin-top: 25px;
}

p{
 margin-top: 50px;
 margin-bottom: 100px;
 font-size: 20px;
  text-align: center;
}

.container{
  flex: 20%;
  margin: 50px;
 font-size: 14px;

}

@media (max-width: 800px) {
  .drag-drop-container {
    flex-direction: column;
  }
}

@media (min-width: 801px){

  .drag-drop-container{
    display: grid;
    grid-template-areas:
            ". ."
            ".";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    padding: 0 5%;
  }
  .drag-drop-container .container-left, .drag-drop-container .container-right{
  }

  .drag-drop-container > div:nth-of-type(3), .drag-drop-container > div:nth-of-type(4){
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height: fit-content;
    width: fit-content;
    transform: translate(-50%, -50%);
    margin: unset;
    background-color: #cccccc;
    padding: 2rem 2.4rem;
  }
  p{
    margin: unset;
  }
}