/* .container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    flex-direction: column;
   
  } */
  .container-right{
    flex: 20%;
  }
  .container-left{
    flex: 20%;
  }
  .list {
    border: solid 1px #ccc;
    min-height: 60px;
    background:white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .box:last-child {
    border: none;
  }
  
  .list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .drag-drop-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .mat-buttons{
    margin-top: 10px;
    background-color: #673ab7;
    color: white;
    width: 200px;
    
}
h2{
  padding: 8px 0;
  color: #3f51b5 ;
  border-radius: 4px;
  text-align: center;
}
h1{
    text-align: center;
    margin-top: 25px;
}
p{
 margin-top: 150px;
 font-size: 20px;
}   
.container{
  flex: 20%;
}
@media (max-width: 800px) {
  .drag-drop-container {
    flex-direction: column;
  }
}