<app-header></app-header>
<router-outlet></router-outlet>
<app-nav></app-nav>

// <div [class.mat-elevation-z2]="!shadowToggle" [class.mat-elevation-z2]="shadowToggle">
//  <mat-toolbar color="primary">
//      <a routerLink="">Vent2U</a>
//      <span class="example-spacer"></span>
//      <button routerLink="about" mat-icon-button="" matTooltip="About" matTooltipClass="custom-tooltip">
//          <mat-icon>help_outline</mat-icon>
//      </button>
//  </mat-toolbar>
// </div>
// <router-outlet></router-outlet>