header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 1rem 0;
}
header h1{
  font-size: 2rem;
  font-weight: bold;
}
.indexContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
mat-card{
  width: 45%;
  height: 100px;
  margin-bottom: 35px;
}
.arrow{
  font-size: 2rem;
  float: right;
}

.card{
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2rem;
}
.card h2{
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}
.card .arrow{
    font-size: 2rem;
}
.watermarkIcon{
    position: sticky;
    font-size: 3rem;
    transform: translateY(-50%) translateX(-50%);
    opacity: 10%;
}

@media screen and (min-width: 800px) {
    .indexContainer{
        display: flex;
        justify-content: space-around;
    }
    .card{
        width: 350px;
    }
}
