<header>
    <h1>Welcome Back</h1>
    <h2>Jørgen Ege</h2>
</header>
<section class="indexContainer">
  <mat-card routerLink="cp">
    <mat-card-title>Check In</mat-card-title>
    <fa-icon [icon]="chair" class="watermarkIcon"></fa-icon>
    <fa-icon [icon]="arrow" class="arrow"></fa-icon>
    <br>
    <p style="float: right">Banjul | 3</p>
  </mat-card>
  <mat-card routerLink="cp/fanSetting">
    <mat-card-title>Temperature</mat-card-title>
    <fa-icon [icon]="fan" class="watermarkIcon"></fa-icon>
    <fa-icon [icon]="arrow" class="arrow"></fa-icon>
    <br>
    <p style="float: right">21* | 26%</p>
  </mat-card>
  <mat-card routerLink="learningelement">
    <mat-card-title>Learning</mat-card-title>
    <fa-icon [icon]="cap" class="watermarkIcon"></fa-icon>
    <fa-icon [icon]="arrow" class="arrow"></fa-icon>
    <br>
    <p style="float: right">10/10</p>
  </mat-card>
  <mat-card routerLink="profile">
    <mat-card-title>Profile</mat-card-title>
    <fa-icon [icon]="user" class="watermarkIcon"></fa-icon>
    <fa-icon [icon]="arrow" class="arrow"></fa-icon>
    <br>
    <p style="float: right">Jørgen Ege</p>
  </mat-card>
<!--  <mat-card routerLink="**" disabled>-->
<!--    <mat-card-title>Schedule</mat-card-title>-->
<!--    <fa-icon [icon]="calender" class="watermarkIcon"></fa-icon>-->
<!--    <fa-icon [icon]="arrow" class="arrow"></fa-icon>-->
<!--  </mat-card>-->
<!--  <mat-card routerLink="**" disabled>-->
<!--    <mat-card-title>Contact</mat-card-title>-->
<!--    <fa-icon [icon]="contact" class="watermarkIcon"></fa-icon>-->
<!--    <fa-icon [icon]="arrow" class="arrow"></fa-icon>-->
<!--  </mat-card>-->
</section>
