<h2>How do you feel?</h2>

<section class="container">
    <button mat-button=""><mat-card class="card">
        <p>Cold</p>
        <fa-icon [icon]="arrow" class="arrow"></fa-icon>
    </mat-card></button>

    <button mat-button=""><mat-card class="card">
        <p>Good</p>
        <fa-icon [icon]="arrow" class="arrow"></fa-icon>
    </mat-card></button>

    <button mat-button=""><mat-card class="card">
        <p>Warm</p>
        <fa-icon [icon]="arrow" class="arrow"></fa-icon>
    </mat-card></button>
</section>