<mat-card>
    <mat-card-title>Fan Speed</mat-card-title>
    <mat-card-content>
        <fa-icon [icon]="fan"></fa-icon>
        <div class="sliderContainer">
            <div>
                <mat-slider thumbLabel step="0.5" tickInterval="0.1" min="18" max="26"></mat-slider>
            </div>
            <div>
                <span>Slowest</span>
                <span>Fastest</span>
            </div>
        </div>
        <button mat-button class="save-value" (click)= "openProile()">Save</button>
    </mat-card-content>
</mat-card>